:root {
  --basic-color:#FFF;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: normal;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0px;
  padding: 0px;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 360px) {
  .container {
    max-width: 360px;
  }
}
@media screen and (min-width: 1140px) {
  .container {
    max-width: 1140px;
  }
}

/* header */
.header {
  background-color: #012d63;
}
@media screen and (min-width: 360px) {
  .header {
    padding-top: 33px;
    padding-bottom: 13px;
  }
}
@media screen and (min-width: 1140px) {
  .header {
    padding-top: 30px;
    padding-bottom: 33px;
  }
}

.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  display: flex;
}

.header-links:hover,
.header-links:focus {
  color: #fff;
}

@media screen and (min-width: 360px) {
  .header-links {
    display: none;
  }
}
@media screen and (min-width: 1140px) {
  .header-links {
    color: #c7c7c7;
    font-size: 24px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 33px;
    margin-left: 29px;
    margin-right: 29px;
    display: block;
  }
}

@media screen and (min-width: 360px) {
  .timbler-links {
    display: none;
  }
}
@media screen and (min-width: 1140px) {
  .timbler-links {
    color: #dcdcdc;
    font-size: 24px;
    font-weight: 300;
    width: 81px;
    height: 30px;
    flex-shrink: 0;
    display: block;
  }
}

.mobile-btn {
  background-color: transparent;
  border: none;
  position: relative;
  z-index: 120;
}
@media screen and (min-width: 360px) {
  .mobile-btn {
    display: block;
  }
}
@media screen and (min-width: 1140px) {
  .mobile-btn {
    display: none;
  }
}

.icon-mobile {
  position: absolute;
  fill: #8E32C6;
  width: 45px;
  height: 25px;
  top: -15px;
  left: -27px;
}

.icon-menu {
  display: block;
}

.is-open .icon-menu {
  display: block;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  padding: 91px 120px;
  background-color: #021635;
  opacity: 0.9;
  right: -100%;
  transition: right 0.5s;
}
.mobile-menu.is-open {
  right: 0;
}

.mobile-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 57px;
}

.mobile-links {
  font-weight: 300;
  font-size: 24px;
  color: #c7c7c7;
}
.mobile-links:hover, .mobile-links:focus {
  color: #fff;
}

.hero {
  padding-bottom: 183px;
  padding-top: 91px;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-color: #021635;
  background-image: url(./img/herofon.png);
}

.hero-logo {
  width: 160px;
}

.hero-fonts {
  color: #FFF;
  font-family: PT Serif;
  font-size: 48px;
  margin-left: 15px;
  font-weight: 400;
}

.hero-title {
  color: #FFF;
  font-family: Playfair Display;
  font-size: 144px;
  font-weight: 400;
}

.hero-h2 {
  color: #FFF;
  font-family: Playfair Display;
  font-size: 72px;
  font-weight: 400;
}

.hero-text {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  width: 550px;
  margin-bottom: 41px;
}

.hero-btn {
  color: #FFF;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 10px;
  background: #8E32C6;
  width: 254px;
  height: 67px;
  flex-shrink: 0;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #FFF;
  color: #8E32C6;
}

/* <!-- advantages --> */
.advantages {
  margin-right: auto;
  margin-left: auto;
  background-image: url(./img/fon1.png);
  background-repeat: no-repeat;
  padding-bottom: 104px;
  padding-top: 106px;
  max-width: 1440px;
}

.advantages-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 5px solid #8E32C6;
}

.adventages-title {
  color: #FFF;
  text-align: center;
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 400;
}

.advantages-img {
  margin-left: 50px;
  margin-right: 50px;
}

.line {
  width: 1px;
  height: 346px;
  background-color: #FFF;
}

/* Reviews */
.reviews {
  background-image: url(./img/flower.png), url(./img/fon2.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
  padding-bottom: 114px;
}

.reaviews-title {
  color: var(--basic-color);
  text-align: center;
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 24px;
}

.reviews-list {
  display: flex;
  justify-content: space-between;
}

.reviews-list > .item:nth-child(1) {
  padding: 49px 15px 29px 15px;
  border-radius: 15px;
  background: linear-gradient(137deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
  box-shadow: 0px 30px 0px -13px #533978, 0px 14px 0px -5px #7B54B2;
}

.reviews-list > .item:nth-child(2) {
  padding: 49px 15px 29px 15px;
  border-radius: 15px;
  background: linear-gradient(137deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
  box-shadow: 0px 30px 0px -13px #61337C, 0px 14px 0px -5px #9159B1;
}

.reviews-list > .item:nth-child(3) {
  padding: 49px 15px 29px 15px;
  border-radius: 15px;
  background: linear-gradient(143deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
  box-shadow: 0px 30px 0px -13px #732F26, 0px 14px 0px -5px #B95A4C;
}

.reviews-list > .item {
  width: 255px;
}

.reviews-text {
  color: #FFF;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
}

.p2 {
  display: block;
  justify-content: flex-start;
  margin-left: 5px;
}

.reviews-box {
  display: flex;
}

.reviews-time {
  color: #D8D8D8;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 47px;
}

.reviews-name {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
}

.reviewc-data {
  color: #D8D8D8;
  font-size: 12px;
  font-weight: 400;
}

/* order */
.order {
  margin-right: auto;
  margin-left: auto;
  background-image: url(./img/fon3.png);
  background-repeat: no-repeat;
  max-width: 1440px;
}

.order-title {
  display: flex;
  justify-content: center;
  color: #FFF;
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 400;
  padding-top: 21px;
  margin-bottom: 33px;
}

.order-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.order-email {
  width: 690px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #FFF;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 19px;
  padding-left: 25px;
  color: #959595;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 400;
}

.order-input {
  width: 580px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #FFF;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 19px;
  padding-left: 24px;
  color: #959595;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 400;
}

.order-btn {
  border-radius: 16px;
  background: #8E32C6;
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
  width: 248px;
  height: 68px;
  flex-shrink: 0;
  margin-bottom: 37px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.order-btn:hover,
.order-btn:focus {
  background-color: #FFF;
  color: #8E32C6;
}

/* footer */
footer {
  background-color: #021635;
  padding-top: 45px;
  padding-bottom: 50px;
}

.footer-list {
  display: flex;
  flex-direction: column;
}

.footer-text {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}

.footer-links {
  display: block;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  margin-bottom: 10px;
}

.footre-small-text {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-fonts {
  color: #FFF;
  font-family: PT Serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -20px;
}

.footer-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links:hover,
.footer-links:focus {
  color: darkblue;
}/*# sourceMappingURL=style.css.map */