


body{
  font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  p {
    margin: 0px;
    padding: 0px;
  }
  
  address {
    font-style: normal;
  }
  
  .visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
  /* header */
header{
background-color: #012D63;
}
.header-list{
  display: flex;

}
.header-list > .item{
  color: #C7C7C7;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

margin-top: 30px;
margin-bottom: 33px;
margin-left: 29px;
margin-right: 29px;
}
.logo{
  width: 100px;
height: 60px;
flex-shrink: 0;
margin-right: 152px ;
margin-left:168px;
margin-top: 17px;
margin-bottom: 16px;
}




