:root{

}


body{
  font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  p {
    margin: 0px;
    padding: 0px;
  }
  
  address {
    font-style: normal;
  }
  
  .visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }


  .container {
    width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* header */
.header{
background-color: #012D63;

padding-top: 30px;
padding-bottom: 33px;
flex-shrink: 0;
}
.header > .container{
  display:flex;
 align-items:center;
  justify-content:space-between;
}
.header-list{
  display: flex;

}
.header-links:hover,
.header-links:focus{
  color: #FFF;
}
.header-links{
  color: #C7C7C7;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

margin-top: 30px;
margin-bottom: 33px;
margin-left: 29px;
margin-right: 29px;
}

.timbler-links{
  color: #DCDCDC;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  width: 81px;
height: 30px;
flex-shrink: 0;
}
/* hero */
.hero{
  padding-bottom: 183px;
    padding-top: 91px;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    background-color: #021635;
    background-image: url(./img/herofon.png);
}
.hero-logo{
  width: 160px;

}
.hero-fonts{
  color: #FFF;
font-family: PT Serif;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.hero-title{
  color: #FFF;
font-family: Playfair Display;
font-size: 144px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.hero-h2{
  color: #FFF;
font-family: Playfair Display;
font-size: 72px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.hero-text{
  color: #FFF;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 550px;
margin-bottom: 41px;
}
.hero-btn{
  color: #FFF;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;

  border-radius: 10px;
background: #8E32C6;
width: 254px;
height: 67px;
flex-shrink: 0;
}



/* <!-- advantages --> */
.advantages{
background-image: url(./img/fon1.png);
background-repeat: no-repeat;
width: 1440px;
height: 606px;
flex-shrink: 0;
    margin-right: auto;
    margin-left: auto;
    background-color: #021635;
  
}
.advantages-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.adventages-title{
  color: #FFF;
text-align: center;
font-family: Playfair Display;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.line{
  width: 1px;
height: 346px;
background-color: #FFF;
}

/* Reviews */





/* order */






/* footer */
footer{
  background-color: #021635;
}
.footer-text{
  color: #FFF;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer-links{
  color: #FFF;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
}
.footre-small-text{
  color: #FFF;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer-fonts{
  color: #FFF;
font-family: PT Serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;

width: 178px;
height: 86px;
flex-shrink: 0;
}






