.mobile-btn{
background-color: transparent;
border: none;
position: relative;

z-index: 120;

@media screen and (min-width: 360px) {
   display: block;
    }
    
    @media screen and (min-width: 1140px) {
display: none;
    }
}
.icon-mobile{
position: absolute;
fill: #8E32C6;

width: 45px;
height: 25px;

top: -15px;
left: -27px;
}
.icon-menu{
display: block;
}
.is-open{
    .icon-menu{
        display: block;
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
  
    z-index: 100;
  
    width: 100%;
    height: 100vh;

padding: 91px 120px;

    background-color: #021635;
    opacity: 0.9;
  
    right: -100%;
    transition: right 0.5s;
  
    &.is-open{
      right: 0;
    }
  }
  

.mobile-list{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 57px;
}

.mobile-links{
font-weight: 300;
font-size: 24px;
color: #c7c7c7;


&:hover,
&:focus{
    color: #fff;
}

}